body {
  background: pink;
  color: rebeccapurple;
  max-width: 960px;
  margin: auto;
  padding: 0px 20px;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 50px 0px 70px 0px;
  font-size: 48px;
}

.todo {
  background: lightpink;
  font-size: 24px;
  margin: 15px 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
